<div class="main">
    <div class="sidebar">
        <div class="slack-name">
            <h2>
                <img style="width:30px" src="images/logo.png" />FireChat
            </h2>
        </div>

        <div class="channel-list">
            <div class="list-head">Channels</div>
            <div class="channel" ng-repeat="cha in channel.channels">
                <div style="display: flex">
                    <a ui-sref="channels.messages({ channelId: cha.$id })"># {{ cha.name }}</a>
                </div>
            </div>
            <div class="channel create">
                <a ui-sref="channels.create">+ Create Channel</a>
            </div>

            <div class="list-head">Direct Messages</div>
            <div class="channel" ng-repeat="user in channel.users">
                <a ng-if="user.$id !== channel.profile.$id" ui-sref="channels.direct({ uid: user.$id })" ui-sref-active="selected">
                    <span class="presence" ng-class="{online: user.online }"></span> {{ user.displayName }}
                </a>
            </div>
        </div>

        <div class="my-info">
            <img class="user-pic" ng-src="{{ channel.getGravatar(channel.profile.$id) }}" />
            <div class="user-info">
                <div class="user-name">
                    <span class="presence" ng-class="{online: channel.profile.online }"></span> {{ channel.profile.displayName }}
                </div>

                <div class="options">
                    <div class="dropup">
                        <span class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><i class="glyphicon glyphicon-cog"></i>&nbsp;Options</span>
                        <ul class="dropdown-menu" style="padding: 5px" role="menu">
                            <li class="actionPoint" ng-click="channel.editProfile()">
                                <span>Edit Profile</span>
                            </li>
                            <li class="actionPoint" ng-click="channel.viewMyFiles()">
                                <span>My Files</span>
                            </li>
                        </ul>
                    </div>&nbsp;&nbsp;/&nbsp;&nbsp;
                    <span style="font-size:16px; cursor: pointer" ng-click="channel.logout()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout</span>
                </div>
            </div>
        </div>
    </div>

    <div id="messageBoard" class="message-pane">
        <div ui-view>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*global $*/
    $(function () {
        $('.actionPoint').hover(function () {
            $(this).addClass('btn-info');
        }, function () {
            $(this).removeClass('btn-info');
        });
    });
</script>
