<div class="header">
    <h1>{{ message.channelName }}</h1>
</div>

<div class="progressBar" ng-show="message.isUploading">
    <uib-progressbar id="progressBar" class="progress-striped active" type="{{message.type}}">Processing uploaded file...
        <i ng-show="message.isSuccess">Completed!</i>
        <i ng-show="message.isPaused">Paused!</i>
        <i ng-show="message.hasError">Has Error!</i>
    </uib-progressbar>
</div>

<div class="message-wrap" ng-repeat="msg in message.messages">
    <div ng-if="msg.uid !== message.profile.$id" style="display: inline-flex;">
        <img class="user-pic" ng-src="{{ channel.getGravatar(msg.uid) }}" />
        <div class="message-info">
            <div class="user-name">
                {{ channel.getDisplayName(msg.uid) }}
                <span class="timestamp">{{ msg.timestamp | date: 'short' }}</span>
            </div>
            <div class="message message-other" ng-style="{display: msg.url ? 'table-caption' : '-webkit-inline-box' }">
                <img id="url" ng-if="msg.url && msg.filename" style="height: 200px; cursor: pointer" ng-src="{{ msg.url }}" ng-click="message.viewImage(msg.filename, msg.url)" /> {{ msg.body }}
            </div>
        </div>
    </div>
    <div style="text-align: right">
        <div ng-if="msg.uid === message.profile.$id" style="display: inline-flex">
            <div class="message-info">
                <div class="user-name">
                    <span class="timestamp">{{ msg.timestamp | date: 'short' }}</span> {{ channel.getDisplayName(msg.uid) }}
                </div>
                <div class="message message-me" ng-style="{display: msg.url ? 'table-caption' : '-webkit-inline-box' }">
                    <img id="url" ng-if="msg.url && msg.filename" style="height: 200px; cursor: pointer" ng-src="{{ msg.url }}" ng-click="message.viewImage(msg.filename, msg.url)" /> {{ msg.body }}
                </div>
            </div>
            <img class="user-pic" ng-src="{{ channel.getGravatar(msg.uid) }}" />
        </div>
    </div>
</div>

<form class="message-form" ng-submit="message.sendMessage()">
    <div class="input-group">
        <div class="input-group-btn btn-group">
            <div class="dropup">
                <button class="btn btn-default dropdown-toggle" id="attachment" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-plus" /></button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <div id="btnImport" class="btn btn-default no-border" popover-placement='auto top-left' popover-title='Supported file types:' uib-popover=".jpg .png .jpeg .bmp .gif" popover-trigger="'mouseenter'">
                            <i class="glyphicon glyphicon-hdd"></i>&nbsp;
                            <span>Share from computer</span>
                            <input id="fileUploader" type="file" nv-file-select uploader="message.uploader" multiple filters="fileType, fileSize, queueLimit">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <input type="text" class="form-control" ng-model="message.message" placeholder="Type a message...">
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">Send</button>
        </span>
    </div>
</form>

<script>
    /*global $*/
    $(function () {
        // automatically scroll to the bottom of the message board when loaded
        var objDiv = document.getElementById("messageBoard");
        objDiv.scrollTop = objDiv.scrollHeight;

        $('#attachment').hover(function () {
            $(this).addClass('btn-success');
        }, function () {
            $(this).removeClass('btn-success');
        });

        $('#btnImport').hover(function () {
            $(this).addClass('btn-info');
        }, function () {
            $(this).removeClass('btn-info');
        });
    });
</script>
